p {
    font-weight: 600;
}

.btn-info, .btn-primary {
    -webkit-box-shadow: 6px 4px 14px -6px #000000; 
    box-shadow: 6px 4px 14px -6px #000000;
    margin: 10px;
    font-weight: 600;
}

button {
    -webkit-box-shadow: 6px 4px 14px -6px #000000; 
    box-shadow: 6px 4px 14px -6px #000000;
    margin: 10px;
    font-weight: 600;
}