<div *ngIf="gameDetails" class="container">
    <div class="row p-3">
        <img class="col-6" src="{{gameDetails.background_image}}" width="400px" alt="">
        <img class="col-6" src="{{gameDetails.background_image_additional}}" width="400px" width="600px" alt="">
    </div>

    <div class="row">
        <div class="col-12 m-3">
            <p>{{gameDetails.description_raw}}</p>
        </div>
        <div class="col-8">

            <p> Release Date: {{gameDetails.released}}</p>
            <p >Official Website: <a href="{{gameDetails.website}}">{{gameDetails.website}}</a></p>
        </div>
    </div>

    <div class="container">
        <p>Check out other games in the same genres:</p>
        <button *ngFor="let genre of gameDetails.genres" class="btn btn-info">{{genre.name}}</button>
    </div>

    <br>

    <div class="container d-flex">
        <div class="align-items-center">
            <button class="btn btn-primary">Go Back</button>
            <button class="btn btn-primary">Add to cart for {{price}} &#8364;</button>
        </div>
    </div>



</div>