
<div class="container">
    <div class="row">

        <div class="col-md-11">

            <div class="input-group input-group-sm mb-3">
                <input [(ngModel)]="search" type="search" (keyup)="filterAction()" class="form-control"
                 placeholder="Search for a Game here!">
    
                <button class="btn btn-outline-secondary" type="button" (click)="filterAction()"
                    id="button-addon2">Search
                    Game</button>
    
                <select [(ngModel)]="category" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    (click)="filterAction()">
                    <option>
                        
                    </option>
                    <option value="{{genre.slug}}" *ngFor="let genre of genres">
                        {{genre.name}}
                    </option>
                </select>
    
    
            </div>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-secondary cart">
            
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            
        </button>
        </div>
        
    </div>

</div>

<!-- [routerLink]="['?genre=',genre.slug]" -->