<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card" >
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name</h5>
                  
                  <input type="file">
                  <p>Change Profile Picture</p>
                </div>
              </div>
        </div>
        <div class="col-md-7">
            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">Profile Details</h5>
                  <form action="" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-3">
                           
                            <div class="form-group">
                                <label for="name" class="mx-2">Name</label>
                                <input type="text" formControlName="name">
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastName" class="mx-2">Last Name</label>
                                <input  type="text" formControlName="lastName">
                            </div>
                        </div>
                        </div>   
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="adress" class="mx-2">Adress</label>
                                    <input type="text" formControlName="adress">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="adressOptional" class="mx-2"></label>
                                    <input type="text" formControlName="adressOptional">
                                </div>
                            </div>
                        </div> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="country" class="mx-2">Country</label>
                                    <input type="text" formControlName="country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="city" class="mx-2">City</label>
                                    <input type="text" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="post" class="mx-2">Postal Code</label>
                                    <input type="text" formControlName="post">
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-secondary">Save</button>
                        
                    
                  </form>
                  
                  
                </div>
              </div>
        </div>
    </div>
</div>
