<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">Profile Details</h5>
                  <form action="" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="form-group">
                                <label for="name" class="mx-2">Name</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName" class="mx-2">Last Name</label>
                                <input  type="text" class="form-control" formControlName="lastName">
                            </div>
                        </div>
                        </div>   
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="adress" class="mx-2">Adress</label>
                                    <input type="text" class="form-control" formControlName="adress">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="adressOptional" class="mx-2"></label>
                                    <input type="text" class="form-control" formControlName="adressOptional">
                                </div>
                            </div>
                        </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country" class="mx-2">Country</label>
                                    <input type="text" class="form-control" formControlName="country">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city" class="mx-2">City</label>
                                    <input type="text" class="form-control" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="post" class="mx-2">Postal Code</label>
                                    <input type="text" class="form-control" formControlName="post">
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-secondary" (click)="this.saveData()">Save</button>
                        
                    
                  </form>
                  
                  
                </div>
              </div>
        </div>

        <div class="col-md-12" *ngIf="this.orders.length > 0" >
            <div class="card">
                <div class="card-body">
                    <h5 class="title">
                        Your Orders:
                    </h5>
                    <div class="col-md-12" *ngFor="let order of this.orders">
                        <div class="date">
                            <b>Order Date:</b> {{order.date}}
                        </div>
                        <div class="id">
                            <b>Order ID:</b> {{order.id}}
                        </div>
                        <div class="Name">
                           <b>Name:</b> {{order.name}}
                        </div>
                        <div class="lastName">
                           <b>Last Name:</b> {{order.lastName}}
                        </div>
                        <div class="email">
                           <b>Email:</b> {{order.email}}
                        </div>
                        <div class="cardName">
                           <b>Name on Card:</b> {{order.cardName}}
                        </div>
                        <div class="cardNumber">
                           <b>Card Number:</b> {{order.cardNumber}}
                        </div>
                        <div class="adress">
                           <b>Adress:</b> {{order.adress}}
                        </div>
                        <div class="adressOptional">
                           <b>Adress Additional:</b> {{order.adressOptional}}
                        </div>
                        <div class="city">
                           <b>City:</b> {{order.city}}
                        </div>
                        <div class="country">
                           <b>Country:</b> {{order.country}}
                        </div>
                        <div class="items">
                            <b>Items (ID, Quantity, Price):</b><br><span class="item" *ngFor="let item of order.items">{{item}}<br>
                           </span>
                        </div>
                        <div class="total">
                            <b>Total:</b>{{ order.total | currency : 'EUR' : true : '1.2-2'}}
                        </div>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
